h1 {
    font-size: 5em;
}
.intro-text {
    text-align: center;
}


.flex-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row; 
    gap: 1em;
  }

  .flex-item {
    margin: 10px;
    text-align: center;
    max-width: 20%;
  }