h1 {
    font-size: 5em;
    margin-bottom: 0.1em;
}
h2 {
    font-size: 3em;
    margin-bottom: 1em;
}

main {
    margin-left: 20%;
    margin-right:20% ;
}

.gratis_event_knap {
    display: inline-block;
    margin-top: 40px;
    padding: 1em;
    font-family: "Instrument Sans", sans-serif;
    font-weight: bold;
    font-size: 1em;
    width: 50%;
    border-radius: 5em;
    border: none;
    background-color: lightskyblue;
}

.intro-text {
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row; 
    gap: 1em;
  }

  .flex-item {
    padding: 1em;
    margin: 1em;
    text-align: center;
  }

  .flex-item:hover {
    background-color: beige;
  }


  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr; 
    grid-gap: 10px;
  }
  
  .item {
    background-color: #115f7e;
    padding: 20px;
    text-align: center;
  }