/*GLOBAL***GLOBAL***GLOBAL***GLOBAL***GLOBAL***GLOBAL***GLOBAL*/
/*GLOBAL***GLOBAL***GLOBAL***GLOBAL***GLOBAL***GLOBAL***GLOBAL*/
/*GLOBAL***GLOBAL***GLOBAL***GLOBAL***GLOBAL***GLOBAL***GLOBAL*/

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cormorant Upright", serif;
  margin-bottom: 10px;
}

h1 {
  font-size: 3.3em;
}
h2 {
  font-size: 2.5em;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
}

p {
  line-height: 1.5;
  letter-spacing: 0.3px;
}

p,
a {
  font-family: "Instrument Sans", sans-serif;
}

.wrapper {
  width: 60%;
  margin: 0 auto;
}

.btn {
  background-color: #694960;
  color: white;
  padding: 1em 1.3em;
  border-radius: 50px;
  border: none;
  font-weight: bold;
  margin: 1em;
  cursor: pointer;
}

.about_tfk {
  background-color: rgb(255, 243, 243);
}

@media (max-width: 900px) {
  .wrapper {
    width: 90%;
  }
  .btn {
    width: 200px;
  }
}

/*HEADER***HEADER***HEADER***HEADER***HEADER***HEADER***HEADER*/
/*HEADER***HEADER***HEADER***HEADER***HEADER***HEADER***HEADER*/
/*HEADER***HEADER***HEADER***HEADER***HEADER***HEADER***HEADER*/

.about_siteheader {
  background-color: #f3d3be;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
}

.about_siteheader-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*LOGO*/

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo_symbol {
  width: 100px;
}
.logo_text {
}
.logo_heading {
  margin: 0;
}

@media (max-width: 450px) {
  .about_siteheader {
    height: 12vh;
  }
  .logo_heading {
    font-size: 1em;
  }
  .logo_symbol {
    width: 50px;
  }
}

/*NAVBAR*/

.navbar {
}
.navbar_list {
  display: flex;
  gap: 4em;
}
.navbar_item {
  list-style: none;
}
.navbar_link {
  font-family: "Cormorant Upright", serif;
  font-weight: bold;
}

/*MAIN***MAIN***MAIN***MAIN***MAIN***MAIN***MAIN***MAIN***MAIN***MAIN*/
/*MAIN***MAIN***MAIN***MAIN***MAIN***MAIN***MAIN***MAIN***MAIN***MAIN*/
/*MAIN***MAIN***MAIN***MAIN***MAIN***MAIN***MAIN***MAIN***MAIN***MAIN*/

.about_main {
}

/*INTRO-SECTION*/

.overlay {
  position: fixed;
  background: rgb(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: 0.3s linear all;
  pointer-events: none;
}
.overlay.visible {
  opacity: 1;
  pointer-events: all;
}

.intro_text {
  margin: 3em;
  text-align: center;
}

@media (max-width: 900px) {
  .intro_text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 450px) {
  .intro_text-heading {
    font-size: 1.8em;
  }
}

.intro_text-paragraph {
  text-align: center;
}
.about_btn {
  margin: 3em;
}

/*SYMBOL-MODALS*/
.close_icon {
  position: absolute;
  right: 2%;
  top: 2%;
  width: 40px;
  cursor: pointer;
}

.modal {
  position: fixed;
  display: flex;
  align-items: center;
  gap: 20px;
  background: white;
  width: 50%;
  padding: 3em;
  top: 20vh;
  max-height: 80vh;
  pointer-events: none;
  opacity: 0;
  transition: 0.3s linear all;
}
.modal.visible {
  opacity: 1;
  pointer-events: all;
}

.about_modal {
  /* transform: translateY(-120%); */
  top: 5vh;
}

@media (max-width: 900px) {
  .close_icon {
    right: 10%;
    top: 4%;
  }
  .modal_symbol {
  }

  .modal {
    flex-direction: column;
    top: 0;
    left: 15%;
  }
  .modal.visible {
  }
}

@media (max-width: 600px) {
  .modal {
    flex-direction: column;
    top: 0;
    left: 0;
    width: calc(100% - 1.5em);
    height: 100vh;
    padding: 1.5em;
    z-index: 100;

    overflow-y: auto;
  }
  .modal.visible {
  }

  .about_modal {
    /* transform: translateY(-120%); */
    top: 0;
    padding-top: 6em;
  }
}

@media (max-width: 400px) {
  .modal_symbol {
    align-self: baseline;
  }
}

.main-symbol_modal {
}
.circle_modal {
  /* transform: translateY(-280%); */
}
.david-star_modal {
  /* transform: translateY(-300%); */
}
.hank-cross_modal {
  /* transform: translateY(-360%); */
}
.svastika_modal {
  /* transform: translateY(-450%); */
}
.aum_modal {
  /* transform: translateY(-620%); */
}

/*SYMBOLS-SECTION*/

.symbols {
  margin-bottom: 4em;
}

.symbol_article {
  display: flex;
  align-items: center;
  gap: 10em;
  /* justify-content: space-around; */
}

.symbol_size {
  width: 200px;
}
.symbol_image {
}

.symbol_container {
  cursor: pointer;
}
.symbol_read_more {
  font-family: "Cormorant Upright", serif;
  font-weight: bold;
  text-align: center;
  color: #b0a5ad;
}
.symbol_text {
  width: 50%;
}

.symbol_mobile-heading {
  display: none;
  text-align: center;
}

@media (max-width: 900px) {
  /* .symbol_size {
    width: 200px;
  } */
  .symbol_container {
    text-align: center;
  }

  .symbol_article {
    flex-direction: column;
    gap: 0;
    margin-bottom: 3em;
  }
  .symbol_heading {
    display: none;
  }
  .symbol_paragraph {
    display: none;
  }
  .symbol_mobile-heading {
    display: block;
  }
  .symbol_read_more {
    font-size: 1.5em;
    color: rgb(109, 109, 109);
    font-weight: bold;
  }
}

/* .symbol_heading {
}
.symbol_paragraph {
} */

/*CTA-EVENTS-SECTION*/
.cta_banner_events {
  background-color: #cd795d;
  text-align: center;
  padding: 1em;
}
.cta_banner_btn {
  /* background-color: #694960;
  color: white; */
  font-size: 1.2em;
}

/*FOOTER***FOOTER***FOOTER***FOOTER***FOOTER***FOOTER***FOOTER***FOOTER*/
/*FOOTER***FOOTER***FOOTER***FOOTER***FOOTER***FOOTER***FOOTER***FOOTER*/
/*FOOTER***FOOTER***FOOTER***FOOTER***FOOTER***FOOTER***FOOTER***FOOTER*/

.about_sitefooter {
  background-color: #f3d3be;
}
.about_sitefooter_SoMe {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}
.SoMe_text {
  font-family: "Cormorant Upright", serif;
  font-size: 1.2em;
  color: #a35e61;
  font-weight: bold;
}
.newsletter_btn {
}
.about_sitefooter_copyrights {
  background-color: black;
}

.copyrights-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 20px;
}
@media (max-width: 800px) {
  .copyrights-container {
    flex-direction: column;
  }
}
@media (max-width: 700px) {
  .about_sitefooter_SoMe {
    flex-direction: column;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }
}

.copyrights_text {
  color: white;
  font-size: 0.7em;
}

/*MEDIAQUERIES***MEDIAQUERIES***MEDIAQUERIES***MEDIAQUERIES***MEDIAQUERIES***/
/*MEDIAQUERIES***MEDIAQUERIES***MEDIAQUERIES***MEDIAQUERIES***MEDIAQUERIES***/
/*MEDIAQUERIES***MEDIAQUERIES***MEDIAQUERIES***MEDIAQUERIES***MEDIAQUERIES***/

/* @media () {

} */
