/*2 FONTE FRA STYLETILE: "Cormorant Upright" + "Instrument Sans"*/
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Instrument+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

/*GLOBAL***GLOBAL***GLOBAL***GLOBAL***GLOBAL***GLOBAL***GLOBAL*/
/*GLOBAL***GLOBAL***GLOBAL***GLOBAL***GLOBAL***GLOBAL***GLOBAL*/
/*GLOBAL***GLOBAL***GLOBAL***GLOBAL***GLOBAL***GLOBAL***GLOBAL*/

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cormorant Upright", serif;
  margin-bottom: 10px;
}

h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: var(--black);
  font-size: 1.5em;
}

p {
  line-height: 1.5;
  letter-spacing: 0.3px;
  font-size: 1em;
}

p,
a {
  font-family: "Instrument Sans", sans-serif;
}

.wrapper {
  width: 60%;
  margin: 0 auto;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.btn {
  background-color: var(--dark-purple);
  color: var(--white);
  padding: 1em 1.3em;
  border-radius: 50px;
  border: none;
  font-weight: bold;
  margin: 1em;
  cursor: pointer;
}

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
            CSS-VARIABLER
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

:root {
  --BG-color: rgb(255, 243, 243);
  --black: black;
  --white: white;
  --grey: rgb(109, 109, 109);
  --cta-color: #ff4949;
  --dark-purple: #694960;
  --light-purple: #a35e61;
  --grey-purple: #b0a5ad;
  --orange: #cd795d;
  --cream-color: #f3d3be;
  --hover-color: rgb(207, 191, 178);
}

/*HEADER***HEADER***HEADER***HEADER***HEADER***HEADER***HEADER*/
/*HEADER***HEADER***HEADER***HEADER***HEADER***HEADER***HEADER*/
/*HEADER***HEADER***HEADER***HEADER***HEADER***HEADER***HEADER*/

.siteheader {
  background-color: var(--cream-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
}

.siteheader-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*LOGO*/

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo_symbol {
  width: 100px;
}

.logo_heading {
  margin: 0;
}

@media (max-width: 450px) {
  .about_siteheader {
    height: 12vh;
  }
  .logo_heading {
    font-size: 1.2em;
  }
  .logo_symbol {
    width: 50px;
  }
}

/*NAVBAR*/

.navbar {
}
.navbar_list {
  display: flex;
  gap: 4em;
  z-index: 100;
}
.navbar_item {
  list-style: none;
}
.navbar_link {
  font-family: "Cormorant Upright", serif;
  font-weight: bold;
}

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
            BURGER-MENU
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

.burgerIcon {
  width: 60px;
  height: 45px;
  background-color: var(--backgroundColor);
  box-shadow: 0px 0px 15px 10px var(--backgroundColor);
  border-radius: 100px;
  position: absolute;
  right: 5%;
  top: 1%;
  margin-top: 2rem;
  transition: all 0.7s ease;
  cursor: pointer;
  z-index: 100;
}

/*Burger-linier*/
.burgerIcon__line {
  background: black;
  border-radius: 9px;
  height: 9px;
  width: 100%;
  position: absolute;
  opacity: 1;
  left: 0;
  transform: rotate(0);
  margin-left: auto;
  transition: 0.4s ease-in-out;
}

/*Placering af burger-linier*/
.burgerIcon__line1 {
  top: 0px;
}
.burgerIcon__line2 {
  top: 18px;
}
.burgerIcon__line3 {
  top: 36px;
}

/*EFFEKT fra Klik-event (javaScript)*/
.burgerIcon__line.clicked {
  background: white;
}

.burgerIcon__line1.burgerIcon__line.clicked {
  top: 18px;
  transform: rotate(135deg);
}
.burgerIcon__line2.burgerIcon__line.clicked {
  opacity: 0;
  left: -60px;
}
.burgerIcon__line3.burgerIcon__line.clicked {
  top: 18px;
  transform: rotate(-135deg);
}

@media (max-width: 450px) {
  .burgerIcon {
    width: 50px;
    height: 45px;
    background-color: var(--backgroundColor);
    box-shadow: 0px 0px 15px 10px var(--backgroundColor);
    border-radius: 100px;
    position: absolute;
    right: 9%;
    top: -1%;
    margin-top: 2rem;
    transition: all 1s ease;
    cursor: pointer;
    z-index: 100;
  }

  /*Burger-linier*/
  .burgerIcon__line {
    background: black;
    border-radius: 7px;
    height: 7px;
  }

  /*Placering af burger-linier*/
  .burgerIcon__line1 {
    top: 0px;
  }
  .burgerIcon__line2 {
    top: 15px;
  }
  .burgerIcon__line3 {
    top: 30px;
  }

  /* .burgerIcon__line1.burgerIcon__line.clicked {
    top: 18px;
    transform: rotate(135deg);
  }
  .burgerIcon__line2.burgerIcon__line.clicked {
    opacity: 0;
    left: -60px;
  }
  .burgerIcon__line3.burgerIcon__line.clicked {
    top: 18px;
    transform: rotate(-135deg);
  } */
}

/*MEDIA QUERIES*/
@media screen and (min-width: 900px) {
  .burgerIcon {
    visibility: hidden;
    pointer-events: none;
  }
}

/*MOBIL-NAVBAR*/

@media screen and (max-width: 900px) {
  .navbar_list {
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
    translate: 500px;
    position: absolute;
    top: 0;
    right: -10%;
    background-color: #cd795d;
    padding: 8em 100px 3em 3em;
    border-radius: 50px;
    transition: 0.8s all cubic-bezier(0.59, 0.13, 0.33, 1.33);
  }

  .navbar_list.clicked {
    translate: 0px;
  }

  .navbar_link {
    font-size: 2.5em;
    color: white;
  }
}

/*FOOTER***FOOTER***FOOTER***FOOTER***FOOTER***FOOTER***FOOTER***FOOTER*/
/*FOOTER***FOOTER***FOOTER***FOOTER***FOOTER***FOOTER***FOOTER***FOOTER*/
/*FOOTER***FOOTER***FOOTER***FOOTER***FOOTER***FOOTER***FOOTER***FOOTER*/

.sitefooter {
  background-color: var(--cream-color);
}
.sitefooter_SoMe {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
}

.SoMe_text {
  font-family: "Cormorant Upright", serif;
  font-size: 1.2em;
  color: var(--light-purple);
  font-weight: bold;
}

@media (max-width: 400px) {
  .sitefooter_SoMe {
    height: 20vh;
  }
}

.sitefooter_copyrights {
  background-color: var(--black);
  width: 100%;
}

.copyrights-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 20px;
}
@media (max-width: 800px) {
  .copyrights-container {
    flex-direction: column;
  }
}
@media (max-width: 700px) {
  .sitefooter_SoMe {
    flex-direction: column;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }
}

.copyrights_text {
  color: var(--white);
  font-size: 0.7em;
}
